.App {
  text-align: center;
}



.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.AppTitle {
  font-size: 1.5em;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
