.red{
    color:red
}
  
.bold{
    font-weight: bold
}

.Button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
    margin: 10px
} 

.Button:hover{
    background-color: lightgreen;
    color: black
}

.Button.Red{
    background-color: red;
}

.Button.Red:hover{
    background-color: salmon;
    color: black;
}

.CockpitIntro {
    font-size: large;
}